<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card mb-5">
                <div class="card-title">
                    <h3>Choose amount to pay:</h3>
                    <h5>Total debt: {{user.credit_debt}}</h5>
                </div>
                <div class="card-body">
                    <form action="/payCredit" method="POST">
                        <div class="form-group mb-2">
                            <input type="text" value="" class="form-control" name="creditPaid"  autofocus>
                        </div>
                            <button class="btn btn-success">
                                Pay
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>