<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-card-center">
                <div class="card-header">
                    <h3>Sign in</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group mb-2">
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group d-grid mb-2 gap-2">
                            <button class="btn btn-success">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>